
* { box-sizing: border-box; margin: 0; padding: 0;}

body {
    margin: 0;
    background-color: cornflowerblue;
    /* background-color: ; */
    display: flex;
    align-items: center;
    justify-content: center;

}